RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ www/$1 [L]

# Zabezpečení - zamezí přístupu k citlivým souborům
<Files ~ "^\.">
    Require all denied
</Files>