services:
    - App\Core\RouterFactory::createRouter
    # Weather service API s injektovaným klíčem a cache storage
    - App\Model\WeatherService(%env.VISUALCROSSING_API_KEY%, @cache.storage)
    - App\Model\WeatherFormatter
    - App\Model\RateLimiter
    - App\Presentation\ApiResponse


search:
    -
        in: %appDir%
        classes:
            - *Facade
            - *Factory
            - *Repository
            - *Service
